html {
    @include font(base, $fallback: true);
    @include responsive(large) {
        -webkit-overflow-scrolling: inherit;
        overflow-x: inherit;
    }

    width: 100%;

    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;

    font-size: (font-size(medium, $rem: false));
}

body {
    @include font(base);
    @include responsive(large) {
        -webkit-overflow-scrolling: inherit;
        overflow-x: inherit;
    }

    width: 100%;

    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;

}