h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
    font-size: font-size(large);
    line-height: 1.5;
    letter-spacing: .8px;
}

hr {}

ul {
    font-size: font-size(large);
    line-height: 1.5;
    letter-spacing: .8px;

    li {}
}

a {
    font-size: font-size(large);
    line-height: 1.5;
    letter-spacing: .8px;

    color: inherit;

    &:hover {
            color: inherit;
            text-decoration: underline;
    }
}

em {
    font-style: italic
}

strong {
    @include font(black);
}