/* Variables */
/*------------------------------------*\
    VENDORS
\*------------------------------------*/
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
/*------------------------------------*\
    RESET
\*------------------------------------*/
html, body, main, article, nav, aside, section,
header, footer, address, div,
h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, dl, dt, dd,
hr, pre, figure, figcaption,
table, caption, thead, tbody, tfoot, tr, th, td, col, colgroup,
form, fieldset, legend, label, input, button, select, datalist,
optgroup, option, textarea, progress, meter,
img, iframe, embed, object, param, video, audio, source,
canvas, track, map, area, del, ins,
a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup,
time, code, kbd, samp, var, bdi, bdo, ruby, rt, rp, wbr,
mark, span, br {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

:after,
:before {
  box-sizing: border-box; }

button,
select,
textarea,
input {
  color: inherit;
  font-family: inherit;
  vertical-align: middle;
  max-width: 100%; }

a {
  text-decoration: none; }
  a img,
  a svg {
    display: block;
    border: none;
    max-width: 100%; }

img,
svg {
  max-width: 100%;
  border: none; }

li {
  list-style: none; }

hr {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left; }

:focus {
  outline: none; }

[hidden], [data-hidden="true"] {
  display: none; }

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
h2 {
  font-family: "Open Sans";
  font-weight: 900; }

h3 {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 2rem; }

h4 {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 1.5rem; }

h5 {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 1rem; }

h6 {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 0.875rem; }

p {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 0.875rem;
  color: #0061AE; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: underline; }

em {
  font-style: italic; }

strong {
  font-family: "Open Sans";
  font-weight: 900; }

/*------------------------------------*\
    FORM
\*------------------------------------*/
label {
  font-family: "Open Sans";
  font-weight: 700;
  color: #0098D6;
  text-transform: capitalize; }

input {
  display: block;
  width: 100%;
  height: 50px;
  margin: 8px 0;
  padding: 16px;
  background-color: #DEE9EE;
  border-radius: 8px;
  border: 0; }

a.btn,
[type="submit"].btn,
button.btn {
  font-family: "Open Sans";
  font-weight: 700;
  height: 50px;
  padding: 8px 32px;
  border-radius: 8px; }
  a.btn.btn-primary,
  [type="submit"].btn.btn-primary,
  button.btn.btn-primary {
    color: #ffffff;
    background-color: #0061AE;
    border: 3px solid transparent; }
    a.btn.btn-primary:hover,
    [type="submit"].btn.btn-primary:hover,
    button.btn.btn-primary:hover {
      color: #0061AE;
      background-color: transparent;
      border: 3px solid #0061AE; }
    a.btn.btn-primary.btn-border,
    [type="submit"].btn.btn-primary.btn-border,
    button.btn.btn-primary.btn-border {
      color: #0061AE;
      background-color: transparent;
      border: 3px solid #0061AE; }
      a.btn.btn-primary.btn-border:hover,
      [type="submit"].btn.btn-primary.btn-border:hover,
      button.btn.btn-primary.btn-border:hover {
        color: #ffffff;
        background-color: #0061AE;
        border: 3px solid transparent; }
  a.btn.btn-secondary,
  [type="submit"].btn.btn-secondary,
  button.btn.btn-secondary {
    color: #05306B;
    background-color: #F8B904;
    border: 3px solid transparent; }
    a.btn.btn-secondary.btn-border,
    [type="submit"].btn.btn-secondary.btn-border,
    button.btn.btn-secondary.btn-border {
      color: #F8B904;
      background-color: transparent;
      border: 3px solid #F8B904; }
      a.btn.btn-secondary.btn-border:hover,
      [type="submit"].btn.btn-secondary.btn-border:hover,
      button.btn.btn-secondary.btn-border:hover {
        color: #05306B;
        background-color: #F8B904;
        border: 3px solid transparent; }
    a.btn.btn-secondary:hover,
    [type="submit"].btn.btn-secondary:hover,
    button.btn.btn-secondary:hover {
      color: #F8B904;
      background-color: transparent;
      border: 3px solid #F8B904; }

/*------------------------------------*\
    HEADER
\*------------------------------------*/
header {
  position: fixed;
  z-index: 3;
  width: 100%; }
  header h1 {
    display: block;
    content: "";
    background-image: url("../images/sprite.png");
    background-position: 0px 0px;
    width: 135px;
    height: 73px;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    overflow: inherit;
    font-size: 0; }
    header h1 a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  header .menu {
    float: right; }
    header .menu nav {
      display: none;
      background-color: #EFF3F5; }
      @media (min-width: 75em) {
        header .menu nav {
          display: inline-flex;
          align-items: center;
          height: 73px; } }
      header .menu nav.nav-menu--open {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99998;
        display: inherit;
        width: 100%;
        height: 100vh;
        background-color: #EFF3F5; }
        header .menu nav.nav-menu--open ul {
          display: block;
          margin: 56px; }
          header .menu nav.nav-menu--open ul li {
            margin-bottom: 24px; }
      header .menu nav.nav-menu--close {
        position: fixed;
        top: -1000vh;
        left: 0;
        z-index: 99998;
        display: inherit;
        width: 100%;
        height: 100vh;
        background-color: #EFF3F5; }
      header .menu nav ul {
        display: flex; }
        header .menu nav ul li {
          margin: 0 16px; }
          header .menu nav ul li:hover {
            position: relative; }
            header .menu nav ul li:hover:before {
              display: inline-block;
              width: 100%;
              height: 3px;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto auto -8px;
              background-color: #F8B904; }
          header .menu nav ul li a:hover {
            text-decoration: none; }
    header .menu .nav-button {
      position: relative;
      z-index: 99999;
      display: inherit;
      padding: 8px;
      background-color: #ffffff;
      border: 0; }
      @media (min-width: 75em) {
        header .menu .nav-button {
          display: none; } }
      header .menu .nav-button .hamburger-inner,
      header .menu .nav-button .hamburger-inner::before,
      header .menu .nav-button .hamburger-inner::after,
      header .menu .nav-button.is-active .hamburger-inner,
      header .menu .nav-button.is-active .hamburger-inner::before,
      header .menu .nav-button.is-active .hamburger-inner::after {
        background-color: #0061AE; }
      header .menu .nav-button.is-active {
        position: fixed;
        top: 0;
        right: 15px; }

/*------------------------------------*\
    BODY
\*------------------------------------*/
html {
  font-family: "Open Sans", Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 400;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  font-size: 16px; }
  @media (min-width: 75em) {
    html {
      -webkit-overflow-scrolling: inherit;
      overflow-x: inherit; } }

body {
  font-family: "Open Sans";
  font-weight: 400;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }
  @media (min-width: 75em) {
    body {
      -webkit-overflow-scrolling: inherit;
      overflow-x: inherit; } }

/*------------------------------------*\
    MAIN
\*------------------------------------*/
/*------------------------------------*\
    SECTION
\*------------------------------------*/
section.highlight {
  position: relative;
  overflow: hidden;
  margin: -8px 0; }
  section.highlight .container-fluid {
    padding: 0; }
  section.highlight figure {
    position: relative; }
    section.highlight figure img {
      width: 100%; }
    section.highlight figure figcaption {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto auto 0;
      width: 70%;
      height: 350px; }
      @media (min-width: 75em) {
        section.highlight figure figcaption {
          left: -350px;
          width: 30%;
          margin: auto; } }
      section.highlight figure figcaption h2 {
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 2rem;
        line-height: 1;
        color: #ffffff; }
        @media (min-width: 75em) {
          section.highlight figure figcaption h2 {
            font-size: 4.5rem; } }
        section.highlight figure figcaption h2 + p {
          font-family: "Open Sans";
          font-weight: 400;
          margin: 48px 0;
          font-size: 1rem;
          line-height: 1.5;
          color: #ffffff; }
          @media (min-width: 75em) {
            section.highlight figure figcaption h2 + p {
              font-size: 1.3rem; } }

section.numbers, section.live, section.news {
  position: relative;
  min-height: 400px;
  padding: 24px 0 56px;
  background: #EFF3F5; }
  section.numbers:before, section.live:before, section.news:before {
    display: inline-block;
    width: 100%;
    height: 250px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #0063B0;
    background: linear-gradient(90deg, #0063B0 0%, #0098D6 100%); }
  section.numbers h3, section.live h3, section.news h3 {
    margin: 32px 0 8px;
    color: #ffffff; }
    section.numbers h3 + p, section.live h3 + p, section.news h3 + p {
      margin: 24px 0 56px;
      font-size: 1rem;
      color: #74D7FF; }

section.numbers img {
  border-radius: 8px; }

section.numbers .numbers--highlight {
  position: relative;
  z-index: 1;
  padding: 32px;
  background-color: #DEE9EE;
  border-radius: 8px;
  box-shadow: -19px 20px 20px 9px #0000002b; }
  section.numbers .numbers--highlight p {
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 2rem;
    color: #0061AE; }
    @media (min-width: 75em) {
      section.numbers .numbers--highlight p {
        font-size: 4.5rem; } }
    section.numbers .numbers--highlight p strong {
      display: block;
      margin: 0 0 0 48px;
      font-size: 0.875rem;
      line-height: 1; }
      @media (min-width: 75em) {
        section.numbers .numbers--highlight p strong {
          font-size: 1.2rem;
          margin: 0 0 0 140px; } }

section.numbers ul {
  margin: 56px 0 0; }
  @media (min-width: 75em) {
    section.numbers ul {
      margin: 112px 0 0; } }
  section.numbers ul li {
    font-family: "Open Sans";
    font-weight: 900;
    position: relative;
    margin: 56px 0 56px 32px;
    padding: 0 0 0 84px;
    font-size: 1.5rem;
    color: #0061AE; }
    @media (min-width: 75em) {
      section.numbers ul li {
        font-size: 2rem; } }
    section.numbers ul li:nth-child(1):before {
      display: block;
      content: "";
      background-image: url("../images/sprite.png");
      background-position: -135px 0px;
      width: 71px;
      height: 71px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto auto auto -10px; }
    section.numbers ul li:nth-child(2):before {
      display: block;
      content: "";
      background-image: url("../images/sprite.png");
      background-position: -206px -60px;
      width: 73px;
      height: 60px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto auto auto -10px; }
    section.numbers ul li:nth-child(3):before {
      display: block;
      content: "";
      background-image: url("../images/sprite.png");
      background-position: 0px -73px;
      width: 96px;
      height: 82px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto auto auto -35px; }
    section.numbers ul li:nth-child(4):before {
      display: block;
      content: "";
      background-image: url("../images/sprite.png");
      background-position: 0px -155px;
      width: 86px;
      height: 37px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto auto auto -20px; }
    section.numbers ul li:nth-child(5):before {
      display: block;
      content: "";
      background-image: url("../images/sprite.png");
      background-position: -206px 0px;
      width: 75px;
      height: 60px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto auto auto -10px; }

section.live {
  padding: 24px 0 168px; }
  section.live .live--content {
    position: relative;
    border-radius: 8px; }
    section.live .live--content:before {
      display: inline-block;
      width: 90%;
      height: 100%;
      content: '';
      position: absolute;
      top: 84px;
      left: 84px;
      border: 2px solid #05306B;
      border-radius: 8px; }
    section.live .live--content:after {
      display: inline-block;
      width: 90%;
      height: 100%;
      content: '';
      position: absolute;
      top: 32px;
      right: 140px;
      border: 2px solid #0098D6;
      border-radius: 8px; }
    section.live .live--content img {
      position: relative;
      z-index: 2;
      border-radius: 8px; }

section.news .news--content {
  margin: 0 0 32px; }
  section.news .news--content img {
    width: 100%;
    margin: 0 0 -16px;
    border-radius: 8px; }
  section.news .news--content div {
    padding: 32px;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px; }

section.updates {
  margin: 0 0 -112px;
  padding: 56px 0 0;
  background: #0063B0;
  background: linear-gradient(90deg, #0063B0 0%, #0098D6 100%); }
  section.updates h3 {
    font-size: 3rem;
    color: #ffffff; }
    @media (min-width: 75em) {
      section.updates h3 {
        font-size: 4.5rem; } }
  section.updates p {
    margin: 32px 0 0;
    font-size: 1rem;
    color: #74D7FF; }
  section.updates form {
    padding: 56px 56px 48px;
    background-color: #ffffff;
    border-radius: 8px; }

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer {
  min-height: 250px;
  background-color: #ffffff; }

/*------------------------------------*\
    HELPERS
\*------------------------------------*/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

.margin-left {
  margin-left: 15px; }

.margin-right {
  margin-right: 15px; }

.nopad-left {
  padding-left: 0; }

.nopad-right {
  padding-right: 0; }

@media (max-width: 640px) {
  .center-block-mobile {
    float: none !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important; }
  .text-center-mobile {
    text-align: center; } }

.center-block {
  float: none !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }
  @media (max-width: 767px) {
    .vcenter {
      display: inherit;
      float: inherit; } }

.vbottom {
  display: inline-block;
  vertical-align: bottom;
  float: none; }

.letter-spacing {
  letter-spacing: 2px; }

label {
  white-space: nowrap; }

.position-absolute {
  position: relative !important; }
  @media (min-width: 75em) {
    .position-absolute {
      position: absolute !important; } }

.slick-slider button {
  outline: none; }
  .slick-slider button.slick-arrow {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: inherit;
    text-rendering: auto;
    font-size: 0;
    border: 0;
    cursor: pointer; }
    .slick-slider button.slick-arrow.slick-prev {
      position: absolute;
      left: 0;
      margin: auto auto auto -8px; }
      .slick-slider button.slick-arrow.slick-prev:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        margin: auto 0 auto auto;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #ffffff; }
    .slick-slider button.slick-arrow.slick-next {
      position: absolute;
      right: 0;
      margin: auto -8px auto auto; }
      .slick-slider button.slick-arrow.slick-next:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        margin: auto auto auto 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #ffffff; }

.slick-track {
  display: flex;
  align-items: center; }

/*------------------------------------*\
    ARTICLE
\*------------------------------------*/
